.infoStringWrapper {
    display: flex;
    justify-content: space-between;
    width: 700px;
    border: 1px solid black;
    margin: 0 auto;
}

.nickNameWrapper {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;

}



.nickNameBox {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    align-content: flex-start;
}

.nickName {
    display: flex;
    justify-content: flex-start;
}

.nickNameToEdit {
    display: flex;
    justify-content: flex-start;
    font-size: 10px;  
}